<h2>Help design the new contract!</h2>
<p>Join us in the discord!</p>

<h2>Features</h2>
<ul>
  <li>A smart contract deployed on the ethereum network</li>
  <li>Utilizes a Bitcoin like proof of work algorithm for a fair 
    and decentralized method of distribution</li>
  <li>Immune to 51% Attacks</li>
</ul>

<p></p>
<hr/>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/oxg2">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://discord.gg/nTttjYp">Discord</a>
  </li>
</ul>
