<h2>Help design the new contract!</h2>
<p>discord link</p>

<h2>Features</h2>
<ul>
  <li>Pure Mined Token</li>
  <li>Ethereum Smart Contract</li>
  <li>Interacts directly with dApps</li>
</ul>

<p></p>
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>
